// Colors

$main-background: #2f69c6;
$light-font: #ffffff;
$dark-font: #3a3a3a;
$sidebar-background: #3a3a3a;
$sidebar-font-color: #ffffff;
$main-font: 'Lato', sans-serif;

$stock-green: #2fc32f;
$stock-red: #de2727;

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

.element {
  &--loading {
    margin: 10px 10px;
    animation: pulse 1s infinite ease-in-out;
  }
}
